.artists-page {
  height: 100vh;
}

.artists-navbar {
  background-color: #1a1a1a;
  border-bottom: 1px solid #363636;
  padding-top: 33px;
  padding-bottom: 32px;
}

.artists-title {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  color: #fff;
  text-align: center;
}

.artists-navigate-back {
  position: absolute;
  left: 15px;
  cursor: pointer;
  margin-top: 3px;
}

.artist-card {
  width: 200px;
  padding: 20px 20px 15px 20px;
  background-color: #1a1a1a;
  border: 1px solid #363636;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}
.artists-list {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 30px;
}

@media only screen and (min-width: 768px) {
  .artists-list {
    padding: 154px 150px;
  }
  .artists-navigate-back {
    left: 60px;
  }
}

.artist-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}

.artist-info {
  width: 80%;
}

.artist-name {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 6px;
}

.artist-followers {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
  color: #b3b3b3;
}

.artist-popularity {
  position: absolute;
  background-color: #0d3d45;
  color: #69d8f7;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
  border-radius: 3px 3px 0 0;
  z-index: 1;
  bottom: 0;
  right: 20px;
  width: 39px;
  height: 35px;
  text-align: center;
  padding-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artists-not-found {
  color: #b3b3b3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
}
