.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-navbar {
  background-color: #1a1a1a;
  border-bottom: 1px solid #363636;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.chat-artist-image {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 20px;
}

.chat-navigate-back {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.chat-artist-name {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 30.52px;
  color: #fff;
  margin-bottom: 6px;
}

.chat-artist-followers {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
  color: #b3b3b3;
}

.chat-artist-popularity {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
  color: #69d8f7;
  background-color: #0d3d45;
  padding: 3px 7px 4px 7px;
  border-radius: 3px;
  height: fit-content;
  margin-left: 15px;
  margin-top: 3px;
}

.chat-container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e5e7eb;
  border-radius: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.chat-input input {
  flex: 1;
  padding: 15px;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: #a9abb2;
  margin-left: 10px;
}

.chat-input input:focus {
  color: #111928;
}

.chat-input button {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  background-color: #187180;
  color: #fff;
  border-radius: 14.5px;
  cursor: pointer;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.chat-input button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
  opacity: 0.6;
}

.chat-message {
  display: flex;
  flex-direction: column;
  gap: 36px;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #111928;
}

.chat-user-message {
  background-color: #97e2f7;
  padding: 20px;
  border-radius: 15px;
  width: 60%;
  align-self: flex-end;
  text-align: end;
}

.chat-ai-message {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 60%;
}

.chat-not-available {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .chat-navigate-back {
    margin-left: 60px;
    margin-right: 60px;
  }

  .chat-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
  }

  .chat-input {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .chat-artist-name {
    font-size: 26px;
  }

  .chat-input input {
    font-size: 18px;
  }
}
